<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UberfyApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UberfyCoreLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UberfyWidget 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>UberfyWidget 4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>UberfyWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B1DB1841D00EC78001085D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B1DB18D1D00EC78001085D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B1DB1A51D00ECC8001085D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B1DB1C01D00F3D1001085D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B1DB1D31D00F407001085D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BC9FC871D00B20B008A99A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BC9FC9B1D00B20B008A99A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BC9FCA61D00B20B008A99A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BC9FCBD1D00B263008A99A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BC9FCC61D00B263008A99A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
